@import "@/styles/_media-mixin.scss";
@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";

.Hero {
  position: relative;
  padding: 160px 0 60px;

  background-color: #fff;

  @include media-md {
    padding: 200px 0 100px;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    justify-items: start;
  }

  @include media-2xl {
    column-gap: 100px;
  }
}

// .LabelWrapper {
//   padding: 8px 20px;

//   display: flex;
//   align-items: center;
//   column-gap: 12px;

//   border-radius: 1000px;
//   border: 1px solid var(--black-5, rgba(0, 0, 0, 0.05));
//   background: var(
//     --White-Linear,
//     linear-gradient(180deg, #fff 50%, #f8f9fa 100%)
//   );
// }

// .Label {
//   color: var(--black-100, #111);
//   text-align: center;
//   font-family: Inter;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 140%; /* 19.6px */
//   letter-spacing: 0.14px;

//   @include media-md {
//     font-size: 16px;
//   }
// }

.title {
  max-width: 450px;

  color: var(--black-100, #111);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */

  @include media-md {
    max-width: 600px;

    text-align: left;
  }

  @include media-lg {
    font-size: 48px;
  }

  @include media-xl {
    max-width: 610px;
    font-size: 58px;
  }

  @include media-2xl {
    max-width: none;
    font-size: 70px;
  }
}

.description {
  margin-top: 40px;
  max-width: 360px;

  color: var(--black-70, rgba(17, 17, 17, 0.7));
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */

  @include media-md {
    max-width: 520px;

    font-size: 20px;
    text-align: left;
  }

  @include media-2xl {
    max-width: 720px;
    font-size: 24px;
  }
}

.HeroImg {
  margin-top: 20px;
  width: 100%;
  height: auto;
  max-width: 400px;

  object-fit: contain;

  @include media-md {
    max-width: none;
    margin-top: 0;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    max-height: 650px;
  }

  @include media-2xl {
    max-height: 600px;
  }
}

.Button {
  @include btn-gradient;

  padding: 8px 12px 8px 20px;
  margin-top: 60px;
  width: 100%;

  @include media-xs {
    width: auto;
  }

  @include media-md {
    padding: 14px 12px 14px 40px;
    margin-top: 80px;
  }
}

.ButtonArrowWrapper {
  display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--60, 60px);
  background: var(--white-100, #fff);
}

.ButtonArrowIcon {
  width: 18px;
  height: auto;
}
