@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "@/styles/_media-mixin.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: 0 auto;

  height: 100%;
  width: 100%;
  padding: 0 20px;

  @include media-sm {
    padding: 0;
    max-width: 720px;
  }

  @include media-md {
    max-width: 880px;
  }

  @include media-lg {
    max-width: 1080px;
  }

  @include media-xl {
    max-width: 1320px;
  }

  @include media-2xl {
    max-width: 1640px;
  }
}

main {
  position: relative;
  overflow-x: clip;
}
