@import "@/styles/_media-mixin.scss";
@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";

.section {
  position: relative;
  padding: 80px 0;

  background: #fff;

  @include media-md {
    padding: 100px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: flex-start;
    justify-items: start;
  }
}

.title {
  @include title-H2;
}

.subtitle {
  @include subtitle;
  margin-top: 24px;
  max-width: 400px;

  @include media-md {
    margin-top: 80px;
    max-width: none;
    font-size: 36px;
    text-align: left;
  }

  @include media-xl {
    font-size: 48px;
  }
}

.description {
  @include description;
  margin-top: 16px;
  max-width: 400px;

  @include media-md {
    margin-top: 28px;
    max-width: none;

    font-size: 18px;
    text-align: left;
  }

  @include media-2xl {
    font-size: 20px;
  }
}

.AboutImg {
  margin-top: 40px;
  width: 100%;
  height: auto;
  max-width: 400px;

  object-fit: cover;

  border-radius: 10px;
  box-shadow: 0px 2.353px 2.353px 0px rgba(0, 0, 0, 0.25);

  @include media-md {
    margin-top: 0;
    max-width: none;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/5;
  }
}
