@import "@/styles/_media-mixin.scss";
@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";

.Header {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 20px;
  z-index: 10;
  width: calc(100% - 32px);
  overflow: hidden;

  border-radius: var(--60, 60px);
  border: 1px solid var(--black-5, rgba(0, 0, 0, 0.05));
  background: var(
    --White-Linear,
    linear-gradient(180deg, #fff 50%, #f8f9fa 100%)
  );

  transition: all 0.3s ease;

  &.fixed,
  &.open {
    box-shadow: 0px 4.605px 18.422px 0px rgba(0, 0, 0, 0.08);
  }

  &.open {
    border-radius: 24px;
  }

  @include media-sm {
    width: 100%;
    max-width: 720px;
  }

  @include media-md {
    padding: 12px 30px;
    max-width: 880px;
  }

  @include media-lg {
    max-width: 1080px;
  }

  @include media-xl {
    max-width: 1320px;
  }

  @include media-2xl {
    max-width: 1640px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;

  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoWrapper {
  display: flex;
}

.Logo {
  width: auto;
  height: 38px;

  @include media-md {
    height: 48px;
  }
}

.Nav {
  display: none;

  &.Mobile {
    display: block;
    visibility: hidden;
    opacity: 0;
    height: 0px;

    transition: all 0.3s ease;
    will-change: height;

    &.open {
      margin-top: 30px;
      margin-bottom: 16px;
      visibility: visible;
      opacity: 1;
    }
  }

  @include media-md {
    display: flex;
    margin: 0;

    &.Mobile {
      display: none;

      &.open {
        display: none;
      }
    }
  }
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media-md {
    flex-direction: row;
  }
}

.MenuLink {
  padding: 0 12px;

  color: var(--black-70, rgba(17, 17, 17, 0.7));
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: -0.18px;

  transition: all 0.2s ease;

  &:hover {
    color: var(--black-100, #111);
  }

  @include media-md {
    font-size: 16px;
  }
}

.buttonContact {
  display: none;

  @include media-md {
    @include btn-gradient;
    font-size: 16px;
  }

  @include media-2xl {
    font-size: 18px;
  }
}

.Burger {
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  background: none;
  border: none;

  cursor: pointer;

  span {
    width: 20px;
    height: 2px;

    border-radius: 10px;
    background: #111;

    transition: all 0.3s ease;
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: translate(0, 4px) rotate(45deg);
      }
      &:nth-child(2) {
        transform: translate(0, -4px) rotate(135deg);
      }
    }
  }

  @include media-md {
    display: none;
  }
}
