@import "@/styles/_media-mixin.scss";
@import "@/styles/_variables.scss";
@import "@/styles/_media-mixin.scss";

.Footer {
  position: relative;
  padding: 40px 0 20px;

  background: #111;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.FooterContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.Logo {
  order: 1;

  width: 145px;
  height: auto;
  fill: #fff;
}

.Info {
  order: 3;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.InfoItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.InfoTitle {
  color: #fff;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1px;
}

.InfoValue {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
}

.ArrowWrapper {
  order: 2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background: var(
    --gradient-green,
    linear-gradient(
      128deg,
      var(--color-yellow-70, #d9f273) 0%,
      var(--color-yellow-50, #bfea15) 100%
    )
  );
  border: none;
  cursor: pointer;
}

.FooterBottom {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.Copyright {
  order: 2;

  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1px;
}

.Links {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Link {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration: none;
}
